.btn__violet {
    width: 220px;
    padding: 15px;
    border-radius: 25px;
    background: $btn-violet;   
    box-shadow: 0px 5px 5px 0px grey;
    text-align: center;
    display: block;
    color: white;
    font-size: 16px;
    font-weight: 500; 
    margin: auto;
        &:hover {
            background: linear-gradient(187deg, #a77bdc, #ff9ce3);
            box-shadow: 0px 5px 5px 0px rgb(77, 76, 76);
        }
}