
.card-fonctionnement {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    padding: 20px 40px 20px 0;
    margin: 20px 30px;
    background-color: hsl(0, 0%, 96%);
    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px rgb(211, 211, 211); 

        &::before {
            content: attr(data-count);
            position: relative;  
            left: -10px;   
            background: $primary-color;
            border-radius: 50%;
            color: white;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;           
        }             
        &:hover {
            background-color: #F5EDFF;
            cursor: pointer;   
                i {
                    color: $primary-color;        
                }               
        }
    }   

.card-restaurants {    
    width: 335px ;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 33px;
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 13px;
        }
        &__icone {
            padding: 0px 40px 30px 0px;
            font-size: 24px;
            cursor: pointer;
            i {
                position: absolute;
            }          
        }   
        &__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 1.7rem;
        }    
        img {
            position: relative;
            object-fit: cover;
            width: 335px ;
            height: 170px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
        span {
            position: absolute;
            background-color: $tertiary-color;
            padding: 5px 15px;
            right: 20px;
            top: 20px;
            border-radius: 5px;
            color:#008766;
            font-size: 14px;
            font-weight: 500;
        }
}

.heart-full {
    opacity: 0;
    transition: all 1.2s ease-out;
    
    &:hover {
        opacity: 1;
        background-image: $btn-violet;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.plat {
    background-color: white;
    margin: 0 10px;
    padding: 15px 25px 15px 15px;
    border-radius: 15px;
    display: flex;
    align-items: inherit;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    
    &__content {  
        display: flex; 
        flex-direction: column;     
        line-height: 1.5em;
        flex: 2;             
    }
    h3 {
        font-size: 16px;
    }
    &__subtitle {
        max-width: 75%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;       
    } 
    &__price {
        display: flex;
        align-self: flex-end;
        flex-wrap: nowrap;
    }
    &__confirmation {
        background-color: #99E2D0;
        color: white;
        font-size: 18px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: -1rem -5.1rem -1.2rem 1rem;
        transition: margin-right 750ms ease;
        i {
            transform: rotate(0);
            transition: transform 750ms ease;
        }           
    }
    &:hover  {
        @include hover-shadow;

        .plat__confirmation {
            margin-right: -1.7rem;

            i {
                transform: rotate(360deg);
            }
        }
}

}