// Fonts
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

// colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$btn-violet: linear-gradient(187deg, $primary-color, $secondary-color);

