@import "_variables";
@import "_mixins";
@import "_buttons";
@import "_cards";
@import "sections";
@import "_header_footer";
@import "_pages";


* {
    margin: 0;
    padding: 0;
    font-family: $font-text;
}
.main-container {
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $primary-color;
    }
    &:visited {
        color: inherit;
    }
}

p {
    font-size: 18px;
    font-weight: 300;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    padding: 10px;

}

h2 {
    font-weight: 700;
    font-size: 18px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

