@use "utils/variables";
@import "base/base";


@import "utils/mixins";
@import "utils/animations";

@import "components/buttons";
@import "components/cards";
@import "components/plats";
@import "components/steps";
@import "components/titles";

@import "layouts/footer";
@import "layouts/header";

@import "pages/home";
@import "pages/restaurants";

