


.card-restaurants {    
    width: 335px ;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 33px;
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 13px;
        }
        &__icone {
            padding: 0px 40px 30px 0px;
            font-size: 24px;
            cursor: pointer;
            i {
                position: absolute;
            }          
        }   
        &__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 1.7rem;
        }    
        img {
            position: relative;
            object-fit: cover;
            width: 335px ;
            height: 170px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
        span {
            position: absolute;
            background-color: $tertiary-color;
            padding: 5px 15px;
            right: 20px;
            top: 20px;
            border-radius: 5px;
            color:#008766;
            font-size: 14px;
            font-weight: 500;
        }
}

.heart-full {
    opacity: 0;
    transition: all 1.2s ease-out;
    
    &:hover {
        opacity: 1;
        background-image: $btn-violet;
        -webkit-background-clip: text;
        color: transparent;
    }
}
