@use "../utils/" as *;

.card-fonctionnement {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;   
    padding: 20px 40px 20px 0;
    margin: 20px 30px;
    background-color: #F6F6F6;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px rgb(211, 211, 211); 
   
        &::before {
            content: attr(data-count);
            position: relative;  
            left: -10px;   
            background: $primary-color;
            border-radius: 50%;
            color: white;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;           
        }             
        &:hover {
            background-color: #F5EDFF;
            cursor: pointer;   
                i {
                    color: $primary-color;        
                }               
        }
        &__text {
            font-weight: 500;
        }
    }   