@use "../utils/" as *;

.title {
    text-align: center;
    padding: 50px;
    background-color: #F6F6F6;
    p {
        padding-top: 10px;
        padding-bottom: 40px;
    }
    h1 {
        padding: 0 50px;
        @include tablet {
        font-size: 40px;
        } 
    }
}
.menu-title  {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 10px 10px ;
    align-items: center;
    h1 {
        font-family: $font-title;
        font-size: 28px;
        font-weight: 400;
    }
    @include tablet {
        justify-content: center;
        gap: 30px;
    }
    
}

.menu-subtitle h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 10px;
    line-height: 2em;
    &::after {
        content: '';
        background: $tertiary-color;
        width: 40px;
        height: 4px;
        display: block;
    }
}