@use "../utils/" as *;

.fonctionnement {
    padding: 40px 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
        @include tablet {      
            padding: 40px 20px;
            flex-wrap: wrap;
        
            &__container {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;           
            }        
        }
    h2 {
        @include desktop {
            width: 80%;
            margin : 0 auto;
            }
        } 
}
 
.restaurants {
    background-color: #F6F6F6;
    padding: 50px 20px;   
    cursor: pointer; 
    h2 {
        @include desktop {
            width: 80%;
            margin : 0 auto;
        }
    } 
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @include tablet {
                display: flex;  
                flex-direction: row;             
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 10px;
                
            }
            @include desktop {
                width: 80%;
                margin : 0 auto;
            }
        }  
}



  