

.banner {
    width: 100%;
    margin: 0 auto;
    height: 275px;
    background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
}

.menu {
    background-color: #F6F6F6;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -40px;   
    z-index: 10;
    position: relative;
    padding-bottom: 50px;
    .btn__violet {
        width: 150px;
        margin-top: 40px;
    }
}
.menu-title  {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 10px 10px ;
    align-items: center;
    h1 {
        font-family: variables.$font-title;
        font-size: 28px;
        font-weight: 400;
    }
    
    
}

.menu-subtitle h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 10px;
    line-height: 2em;
    &::after {
        content: '';
        background: variables.$tertiary-color;
        width: 40px;
        height: 4px;
        display: block;
    }
}
.menu-plats {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.menu-plats-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: FadeIn 1s ;
}

