@use "../utils/" as *;

.banner-1 {
    @include banner ;
    background-image: url(map-get($img-banner, palette-du-gout));
}
.banner-2 {
    @include banner ;
    background-image: url(map-get($img-banner, note-enchantee));
}
.banner-3 {
    @include banner ;
    background-image: url(map-get($img-banner, a-la-francaise));
}
.banner-4 {
    @include banner ;
    background-image: url(map-get($img-banner, delice-des-sens));
}

.menu {
    background-color: #F6F6F6;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -40px;   
    z-index: 10;
    position: relative;
    padding-bottom: 50px;
    .btn__violet {
        width: 150px;
        margin-top: 40px;
    }
    @include tablet {
        width: 60%;
        margin: -40px auto 0 auto;
    }
}

.menu-plats {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    @include tablet {
        width: 60%;
        margin: 0 auto;
    }
}
.menu-plats-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;

}

