

@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} 
@keyframes Loader {
    0% {
      border-color: #9356DC #FF79DA #99E2D0 #F6F6F6;
}
    33% {
      border-color: #F6F6F6 #9356DC #FF79DA #99E2D0;
}
    66% {
      border-color: #99E2D0 #F6F6F6 #9356DC #FF79DA;
}
    100% {
      border-color: #FF79DA #99E2D0 #F6F6F6 #9356DC;
}
  }